table.table td.clamp{
    display: -webkit-box;
    max-width: 400px;
    line-height: 1.5;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chapters-table {
    margin: 0 auto;
}

.quiz-btn {
    margin: -8px 0;
}

#chaptersTop5{
    margin-top: 40px;
}
