html, body {
    font-family: "Lato", serif;
    margin: 0;
    padding: 0;
}

.center {
    text-align: center;
}

.content {
    margin: 24px;
}

.nav{
    height: 64px;
    line-height: 64px;
	background: rgb(41, 7, 236);
	width: 100%;
	box-shadow: 0px 3px 5px #5c5252;
	text-indent: 2em;
    color: rgb(207, 205, 205);
}

.nav h2{
    margin: 0;
    display: inline-block;
} 
.nav h2 a {
    color: rgb(207, 205, 205);
    text-decoration: none;
}

.menu {
    display: inline-block;
    position: absolute;
    right: 40px;
}

.menu ul {
    display: flex;
    margin: 0;
    list-style: none;
}

.menu ul a {
    color: #fff;
    text-decoration: none;
}

.menu ul .btn {
    margin: 0;
}

.btn {
    text-decoration: none;
    color: #fff;
    background: rgb(64, 64, 241);
    padding: 8px 16px;
    border-radius: 4px;
    margin: 24px auto;
    display: block;
    width: 84px;
}

.cus-container {
    margin: 24px auto;
}

input[type=text] {
	display: inline-block;
	padding: 5px 5px;
	width: 50%;
	margin-top: 1%;
	font-size: 15px;
	border-radius: 13px;
	border-color: transparent;
	margin-bottom: 1%;
}

hr {
	border: none;
	height: 1px;
	background-color: darkslategray;
}

.back {
    width: 140px;
    color: #FFF;
    background: #223c61;
    margin:30px 40px; 
    height: 34px;
    line-height: 34px;  
    display:block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
}
.back:hover{ 
    background:#31517f;
    color: #fff;
    
}

.flex-container {
    display:flex;
}
