html, body {
    font-family: "Lato", serif;
    margin: 0;
    padding: 0;
}

.center {
    text-align: center;
}

.content {
    margin: 24px;
}

.nav{
    height: 64px;
    line-height: 64px;
	background: rgb(41, 7, 236);
	width: 100%;
	box-shadow: 0px 3px 5px #5c5252;
	text-indent: 2em;
    color: rgb(207, 205, 205);
}

.nav h2{
    margin: 0;
    display: inline-block;
} 
.nav h2 a {
    color: rgb(207, 205, 205);
    text-decoration: none;
}

.menu {
    display: inline-block;
    position: absolute;
    right: 40px;
}

.menu ul {
    display: flex;
    margin: 0;
    list-style: none;
}

.menu ul a {
    color: #fff;
    text-decoration: none;
}

.menu ul .btn {
    margin: 0;
}

.center-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.unit {
    display: block;
    background: red;
    margin: 24px;
    padding: 24px;
    text-decoration: none;
    color: #fff;
}

.btn {
    text-decoration: none;
    color: #fff;
    background: rgb(64, 64, 241);
    padding: 8px 16px;
    border-radius: 4px;
    margin: 24px auto;
    display: block;
    width: 84px;
}

.canvas {
  text-align: center;
  background: black;
  position: relative;
}

#prevArrow{
    position: absolute;
    top: 50%;
    left: 1.5%;
    text-decoration: none;
    z-index: 1;
    font-size: 5em;
    color: white;
  }
  
#nextArrow {
    position: absolute;
    top:50%;
    right:1.5%;
    text-decoration: none;
    z-index: 1;
    font-size: 5em;
    color: white;
}

.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.tabs li {
    width: 80px;
    padding: 8px 16px;
}

.curtab {
    background-Color: #FFFFFF;
    cursor: hand;
    border-bottom: 1 solid #ffffff;
    color: #07519A;
    font-size:10.5pt;
    font-weight: bold;
}

.notab {
    background-Color: #EBF3FB;
    cursor: hand;
    color: #07519A;
    font-size:10.5pt;
}

.topTenContainer {
    margin: 0 40px;
}

.cusContainer {
    margin: 24px auto;
}
.title {
	margin: 24px;
}

.title h2 {
	display: inline-block;
}

#error {
    color: red;
}

.signUpBtn {
	float: right;
	margin-top: 20px;
}

.loginBtn {
	text-align: center;
}

.loginBtn button {
	width: 200px;
}

input[type=text] {
	display: inline-block;
	padding: 5px 5px;
	width: 50%;
	margin-top: 1%;
	font-size: 15px;
	border-radius: 13px;
	border-color: transparent;
	margin-bottom: 1%;
}

#list {
	margin-left: 3em;
	margin-right: 3em;
	text-align: left;
}

.url {
	position: relative;
	display: inline-block;
	margin-right: 20px;
}

.url a {
	text-decoration: none;
}

hr {
	border: none;
	height: 1px;
	background-color: darkslategray;
}

#add.btn{
    margin: 0;
}

.cusButton {
    margin: 0 12px;
}

.edit, .delete {
	width: 80px;
	height: 30px;
	border: 0 none transparent;
	margin: 5px;
}

.back {
    position: absolute;
    top: 24px;
    font-size: 16px;
}