@charset "utf-8";
body{
    background: url(../../static/img/bg.png) repeat #f7f7f7;
    background-size:30px;
    color: #333;}
body,
html {
    font-size: 12px;
    font-family: "Microsoft YaHei",  Arial,;
    font-weight: 400;
    height: 100% ;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    outline-style: none
}
*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
em,i,span {
    font-style: normal;
}
a,a:hover{
    color: #333;
    text-decoration: none !important;
}
.top_box{
    float: left;
    background:#e8e8e8;
    height:20px;
    line-height: 20px;
    width: 100%;
    color: #333;
}
.top{
    width: 1200px;
    margin: 0 auto;
    text-align: right;
    color: #333;
    letter-spacing: 1px;

}
.top .logout{
    background:#e8e8e8 ;
}
.top em,.top i{
    color: #999;
    font-size: 10px;
    padding: 0 5px;
}

.header_box{
    float: left;
    width: 100%;
    height:200px;
    background: #fff;   
    text-align: center; 
    /* border-bottom: 10px solid #999; */
}
.header{
    width: 1200px;
    height: 150px;
    margin: 0 auto;
    line-height: 150px;
    color: #223c61;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-shadow: 0px 1px 30px #fff;
    background: url("../../static/img/logo.png") no-repeat left bottom;
    background-size:auto 130px ;
}
.header_box .menu_box{
    width: 100%;
    height:50px;
    line-height: 40px;
    background:#223c61;
    border-top: 5px solid #223c61;
    border-bottom: 5px solid #223c61;
}
.header_box ul{
    width: 1200px;
    margin: 0 auto;
    font-size:18px;
}
.header_box li{
    float: left;
    margin-right:5px;
}
.header_box li a{
    display: block;
    color: #fff;
    padding:0 50px;
}
.header_box li a:hover{
    cursor: pointer;
}
/* .header_box li a:hover, .header_box .on a{
    background: #fff;
    color: #223c61;
} */


.footer_box{ 
    float: left;   
    width: 100%;
    min-height:50px;
    line-height:1;
    background: #223c61;   
    text-align: center; 
    color: #3b629f;
}
.footer{
    width: 1200px;
    margin:0 auto;
    font-size: 10px;
    padding: 15px;
}

/* TOP */
.gotop{
    right:50px;
    bottom:52px;
    position: fixed; 
    padding:10px;
    background:#333;
    color: #fff; 
    text-align: center;
    line-height: 1;
    z-index: 10;
}
.gotop:hover{
    color: #fff; 
    background: #999;
}
.btn.focus, 
.btn:focus, 
.btn:hover{
    color: #fff !important;

}