<!DOCTYPE html>
<html>

<head>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/base.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/css/quiz.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
    <div class="top_box">
        <div class="top">
            <em>Hello,</em>
            <span id="user"></span> 
            <i>|</i>       
            <input class="logout" type="button" value="Logout" onclick="logout(event)" />
        </div>
    </div>    
    <div class="header_box">
        <div class="header">
            Welcome To Network College
        </div>
        <div class="menu_box">
            <ul>
                <li class="on"><a href="http://localhost:5000/">home</a></li>
                <li><a href="http://localhost:5000/register">register</a></li>
            </ul>
        </div>
    </div>
    <div class="quiz_box">
        <div class="quiz">
            <div class="quiz_info">
                <h3 class="center">Quiz</h3>
                <!-- <a class="back" onclick="history.back();">
                    &lt;&lt; Back
                </a> -->
                <p class="center">
                    Please start quiz
                </p>
                <h4 id="quizTitle"></h4>
                <div id="quiz">
                </div>
                <button class="btn back-to-learn" onclick="backHome(event)">&lt;&lt; Back to Learn</button>
            </div>
            <div class="quiz_bg">
                QUIZ
            </div>
        </div>        
    </div>

    <!-- TOP -->
    <a href="#" class="gotop">^<br>TOP</a>
    <!-- Copyright -->
    <div class="footer_box">
        <div class="footer">
            The content provided in this website is only for training and testing, and the correctness of the content is not guaranteed. 
            <br>Through the use of the site content, the risk has nothing to do with the site. All rights reserved.Copyright 2021 zhuyu 
        </div> 
    </div> 
</body>
<script type="text/javascript" src="../static/js/checkLogin.js"></script>
<script type="text/javascript" src="../static/js/quiz.js"></script>

</html>